body {
  background: #010101;
  cursor: url('../img/rocket.png') , auto;  
}

.running_text {
  position: relative;
  width: 100%;
  height: 5vw; 
  background: hsl(267, 98%, 74%); 
  top: 0vw;
  overflow: hidden; 


}

.text_first {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 3vw;
  font-family: "Exo_text";
  padding: 1vw;
  animation: runttext 5s linear infinite;
  position: absolute;
  white-space: nowrap;
  
}

@keyframes runttext{0%{ left: -120%; }
100%{ left: -65%; }
}





.text_item {
  padding-right:4vw; 
  
}

/* Общие стили для звезд */
#smallstar1 img,#smallstar12 img,#smallstar13 img,
#smallstar2 img {
  position: absolute;
  width: 2vw;
  height: 4vh;
  transform: scale(1);
  animation: smallstars 2s ease-in-out infinite;
}




/* Индивидуальные позиции для звезд */
#smallstar1 img {
  position: absolute;
  top: 10vw;
  left: 80vw;
}




#smallstar2 img {
  position: absolute;
  top: 25vw;
  left: 15vw;
}

#smallstar12 img {
  position: absolute;
  top: 20vw;
  left: 65vw;
}

#smallstar13 img {
  position: absolute;
  top: 9vw;
  left: 35vw;
}


/* Анимация масштабирования звезд */
@keyframes smallstars {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}




/* Линии разноцветные */




/* Контейнер для всех линий */
.lines_container {
  position: absolute;
  top: 30vw;
  left: 0VW;
  width: 100%; 
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}




/* Стиль для линий */
.line_purple {
  width: auto;
  height: 0.6VW;
  background-color: #B77DFE;
}




.line_red {
  width: 100%; 
  height: 0.6vw;
  background-color: #FF0101;
}

.line_green {
  width: 100%;
  height: 0.6vw;
  background-color: #00A459;
}

.line_yellow {
  width: 100%; 
  height: 0.6vw;
  background-color: #FEFF01;
  ;
}

.line_red2 {
  width: 100%;
  height: 0.6vw;
  background-color: #FF0101;
}

.line_purple2 {
  width: 100%; 
  height: 0.6vw;
  background-color: #B77DFE;
}


/* <!-- Диск  --> */

.orbit-container {
  position: absolute;
  top: 26vw;
  left: 35VW;
  background-color: black;
  width: 31.25vw;
  height: 31.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.417vw solid white;
  border-radius: 0.521vw;
  border-radius: 50vw;
  animation: rotateOrbit 10s linear infinite;
}


.inner-circle {
  position: absolute;
  width: 23.438vw;
  height: 23.438vw;
  border-radius: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.417vw solid white;
  border-radius: 50vw;
  animation: rotateOrbit 10s linear infinite;
}


.inner2-circle {
  position: absolute;
  width: 13.021vw;
  background-color: rgb(233, 9, 9);
  height: 13.021vw;
  border-radius: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner3-circle {
  position: absolute;
  width: 5.208vw;
  background-color: yellow;
  height: 5.208vw;
  border-radius: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music1 {
  position: absolute;
  top: 2.083vw;
  width: 2.083vw;
  height: 3.125vw;
  left: 17.604vw;
  transform-origin: center;
  animation: rotateOrbit 5s linear reverse infinite;
}

.music2 {
  position: absolute;
  top: 2.083vw;
  left: -14.063vw;
  width: 2.083vw;
  height: 3.125vw;
  transform-origin: center;
  animation: rotateOrbit 5s linear reverse infinite;
}


.music3 {
  position: absolute;
  top: -4.948vw;
  left: -10.417vw;
  height: 4.167vw;
  width: 4.167vw;
  transform-origin: center;
  animation: rotateOrbit 5s linear reverse infinite;
}


.music4 {
  position: absolute;
  top: -15.625vw;
  left: 5.208vw;
  height: 6.771vw;
  width: 6.771vw;
  transform-origin: center;
  animation: rotateOrbit 5s linear reverse infinite;
}

.music5 {
  position: absolute;
  top: 11.458vw;
  left: -4.948vw;
  height: 4.167vw;
  width: 4.167vw;
  transform-origin: center;
  animation: rotateOrbit 5s linear reverse infinite;
}

.music6 {
  position: absolute;
  top: 14.063vw;
  left: 5.208vw;
  height: 6.771vw;
  width: 6.771vw;
  transform-origin: center;
  animation: rotateOrbit 5s linear reverse infinite;
}


@keyframes rotateOrbit {
  100% {
    rotate: 1turn;
  }
}

.imagestick {
  position: relative; 
}

/* Stick Image */
#stick {
  position: absolute; 
  top: 31vw; 
  left: 34vw; 
  width: 10Vw; 
  height: 12vw; 
  object-fit: contain; 
}
  /* PART 2 */

.screen2 {
  position: relative;
  height: 100vW;
  width: 100%;
  top:130VW;
  height: 5vW;

}


/* Общие стили для звезд */
#smallstar3 img,#smallstar14 img,#smallstar15 img,
#smallstar4 img {
  position: absolute;
  width: 2vw;
  height: 4vW;
  transform: scale(1);
  animation: smallstars 2s ease-in-out infinite;
}


/* Индивидуальные позиции для звезд */
#smallstar3 img {
  position: absolute;
  top: -75vw;
  left: 90vw;

}

#smallstar4 img {
  position: absolute;
  top: -70vw;
  left: 10vw;

}
#smallstar14 img {
  position: absolute;
  top: -60vw;
  left: 30vw;

}
#smallstar15 img {
  position: absolute;
  top: -70vw;
  left: 55vw;

}
/* Анимация масштабирования звезд */
@keyframes smallstars {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
 

}

.box {
  position: relative;
  width: 31.25vw;
  height: 20.833vw;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: -55vw;
}

/* Лучи */
.box:first-of-type .light-rays {
  position: absolute;
  top: 3vw;
  left: 16vw;
  transform: translate(-50%, -10%);
  width: 20.833vw;
  height: 20.833vw;
  background: linear-gradient(to bottom, #B77DFE 30%, rgba(183, 125, 254, 0) 100%);
  clip-path: polygon(50% 0, 100% 100%, 0% 100%);
  z-index: 0;

}

.box:nth-of-type(2) .light-rays {
  position: absolute;
  top: 3vw;
  left: 16vw;
  transform: translate(-50%, -10%);
  width: 20.833vw;
  height: 20.833vw;
  background: linear-gradient(to bottom, #FF0101 30%, rgba(183, 125, 254, 0) 100%);

  clip-path: polygon(50% 0, 100% 100%, 0% 100%);
  z-index: 0;

}
.box:nth-of-type(3) .light-rays {
  position: absolute;
  top: 3vw;
  left: 16vw;
  transform: translate(-50%, -10%);
  width: 20.833vw;
  height: 20.833vw;
  background: linear-gradient(to bottom, #00A459 30%, rgba(183, 125, 254, 0) 100%);

  clip-path: polygon(50% 0, 100% 100%, 0% 100%);
  z-index: 0;
}


.ufo-image {
  width: 23.438vw;
  height: 10vw;
  z-index: 1;
}

.text {
  color: #fff;
  top: 18vw;
  font-family: "Exo_text";
  font-size: 2.188vw;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  line-height: 1.2;
  position: absolute;
  bottom: 15vw;
  z-index: 1;
}

/* Container for circles */
.circles {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 13.021vw;
  width: 15.625vw;
  z-index: 2;
}


.circle {
  width: 1.667vw;
  height: 1.667vw;
  border-radius: 50%;
  background-color: purple;
  animation: changeColor 2s infinite;
}

/* Animations for color-changing */
@keyframes changeColor {
  0% {
    background-color: #B77DFE;
  }

  50% {
    background-color: #FF0101;
  }

  100% {
    background-color: #00A459;
  }
}


.circle3 {
  animation-delay: 0.25s;
  position: absolute;
  top: 1vw;
  left: 7vw;
}

.circle2 {
  animation-delay: 0.5s;
  position: absolute;
  top: 0vw;
  left: 14vw;
}

.circle1 {
  animation-delay: 1s;
  top: 10VW;
}


.screen3 {
  position: relative;
  height: 100vW;
  width: 100%;
  top: 95VW;
  overflow: hidden;
}


/* Общие стили для звезд */
#smallstar5 img,
#smallstar6 img,
#smallstar7 img,
#smallstar16 img,
#smallstar17 img,
#smallstar8 img {
  position: absolute;
  width: 2vw;
  height: 4vW;
  transform: scale(1);
  animation: smallstars 2s ease-in-out infinite;
}


/* Индивидуальные позиции для звезд */
#smallstar5 img {
  position: absolute;
  top: 45vw;
  left: 80vw;

}

#smallstar6 img {
  position: absolute;
  top: 5vw;
  left: 10vw;

}

#smallstar7 img {
  position: absolute;
  top: 50vw;
  left: 15vw;

}

#smallstar8 img {
  position: absolute;
  top: 20vw;
  left: 75vw;

}
#smallstar16 img {
  position: absolute;
  top: 7vw;
  left: 60vw;

}
#smallstar17 img {
  position: absolute;
  top: 35vw;
  left: 5vw;

}

/* Анимация масштабирования звезд */
@keyframes smallstars {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}


.planet {
  position: relative;
  top: 165VW;
  left: -2VW;
}

.planeta {
  position: absolute;
  top: -158Vw;
  left: 30vw;
  height: 45.625vw;
  width: 44.271vw;
  z-index: 2;
}

.orbittogether {
  position: absolute;
  top: -144.5vw;
  left: 20.208vw;
  height: 15.625vw;
  width: 60.125vw;
  animation: orbit2 3s infinite alternate ease-in-out;

}

.orbitseparated {
  position: absolute;
  top: -141vw;
  left: 27.875vw;
  height: 15.625vw;
  width: 44.7vw;
  animation: orbit1 3s infinite alternate ease-in-out;
  z-index: 3;
}

#redtag img {
  position: relative;
  top: -156vw;
  left: 40vw;
  height: 9vw;
  width: 24.7vw;
  animation: slide-top 1.5s infinite alternate ;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    transform: translateY(2VW);
     transform: translateY(2VW);
  }
}


@keyframes orbit1 {
  0% {
    transform: translateX(-3.208vw);

  }

  100% {
    transform: translateX(3.208vw);
   
  }
}
@keyframes orbit2 {
  0% {
    transform: translateX(-3.208vw);
   
  }

  100% {
    transform: translateX(3.208vw);
    
  }
}

#Rocket1 img {
  position: absolute;
  height: 10vw;
  width: 10vw;
  top: -150vw;
  left: 0VW;
  object-fit: contain;
  animation: x-axis 7s infinite linear;
  z-index: 4;

}

.wrapper1 {
  animation: y-axis 5s infinite ease-in-out;
 
}

.wrapper2 {
  animation: z-axis 7s infinite ease-in-out;
}

@keyframes x-axis {
  50% {
    transform: translateX(28vw);
  }
}

@keyframes y-axis {
  50% {
    transform: translateY(4vw);
    
  }
}

@keyframes z-axis {
  50% {
    transform: rotateZ(20deg);
    
  }
}


#Rocket2 img {
  position: absolute;
  height: 10vw;
  width: 10vw;
  top: -140vw;
  left: 70VW;
  object-fit: contain;
  animation: x-axis2 10s infinite linear;
  
}

.wrapper3 {
  animation: y-axis2 10s infinite ease-in-out;
  
}

.wrapper4 {
  animation: z-axis2 5s infinite ease-in-out;
}

@keyframes x-axis2 {
  50% {
    transform: translateX(10vw);
  }
}

@keyframes y-axis2 {
  50% {
    transform: translateY(15vw);

  }
}

@keyframes z-axis2 {
  50% {
    transform: rotateZ(5deg);
  }
}



#Rocket3 img {
  position: absolute;
  height: 10vw;
  width: 10vw;
  top: -100vw;
  left: 0vw;
  object-fit: contain;
  animation: diagonal-move 5s infinite ease-in-out alternate;
}


@keyframes diagonal-move {
  0% {
    transform: translate(0vw, 0vw);
   
  }

  100% {
    transform: translate(40vw, -40Vw);
    
  }
}


.screen4 {
  position: relative;
  height: 50vw;
  width: 100%;
  overflow: hidden;
  top: 45vw;

}


/* Общие стили для звезд */
#smallstar9 img,
#smallstar10 img,
#smallstar11 img,
#smallstar12 img,
#smallstar13 img,
#smallstar14 img,
#smallstar18 img,
#smallstar15 img
{
position: absolute;
width: 2vw;
height: 4vW;
transform: scale(1);
animation: smallstars1 2s ease-in-out infinite;
}

/* Индивидуальные позиции для звезд */
#smallstar9 img {
  position: absolute;
  top: 10vw;
  left: 85vw;
}

/* Анимация масштабирования звезд */

#smallstar10 img {
  position: absolute;
  top: 20VW;
  left: 65vw;
}

#smallstar11 img {
  position: absolute;
  top: 35VW;
  left: 27VW;
}

#smallstar18 img {
  position: absolute;
  top: 45VW;
  left: 75VW;
}


@keyframes smallstars1 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}



.centered-text {
  text-align: center;
position: relative;
top: 15.625vw;
}


.date {
 
  color: #FEFF01;
  font-size: 5vw; 
  font-weight: bold; 
  animation: dateandtime 3s ease infinite;

}



.now {
  color: #FEFF01;
  font-size: 5vw; 
  font-weight: bold; 
  margin-top: 1.521vw; 
  animation: dateandtime 3s ease infinite;
}
@keyframes dateandtime {0%{transform:scaleX(.1)}100%{transform:scaleX(1)}}

#Rocket4 img {
  position: absolute;
  height: 10vw;
  width: 10vw;
  top:0vw;
  left: 70VW;
  rotate: -135deg;
  object-fit: contain;
  animation: x-axis4 5s infinite linear;
  
}

.wrapper5 {
  animation: y-axis4 5s infinite ease-in-out;
  
}
.wrapper6 {
  animation: z-axis4 5s infinite ease-in-out;
}
@keyframes x-axis4 {
  50% {
    transform: translateX(10vw);
  }
}

@keyframes y-axis4 {
  50% {
    transform: translateY(20vw);
  }
}


@keyframes z-axis4 {
  50% {
    transform: rotateZ(1deg);
  }
}


#Rocket5 img {
  position: absolute;
  height: 10vw;
  width: 10vw;
  top:-0vw;
  left: 20vW;
  rotate: -185deg;
  object-fit: contain;
  animation: x-axis5 3s infinite linear;
 
}

.wrapper7 {
  animation: y-axis5 3s infinite ease-in-out;

}

.wrapper8 {
  animation: z-axis5 3s infinite ease-in-out;
}


@keyframes x-axis5 {
  50% {
    transform: translateX(10vw);
  }
}

@keyframes y-axis5 {
  50% {
    transform: translateY(20vw);
  }
}

@keyframes z-axis5 {
  50% {
    transform: rotateZ(3deg);
  }
}

.footer{
  position: relative;
  top: 50vw;}

.running_text2 {
  position: relative;
  width: 100%;
  height: 5vw; 
  background: hsl(267, 98%, 74%); 
  top: 0vw;
  overflow: hidden; 

}

.text_first1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 3vw;
  font-family: "Exo_text";
  padding: 1vw;
  animation: runttext 5s linear infinite;
  position: absolute;
  white-space: nowrap;
    
}


.text_item1 {
  padding-right:4vw;  

}


